@import "node_modules/@sweetalert2/theme-bulma/bulma.scss";

$theme-colors: (
  "primary": $primary,
  "danger": #d80101,
);

$primary: #6e2c6b;
$primary-light: lighten(#6e2c6b, 20%);
$primary-dark: darken(#6e2c6b, 0%);

// $primary: #941026;
// $primary-light: lighten(#941026, 20%);
// $primary-dark: darken(#941026, 10%);
// teal - #10b19e
// blue - #114f89

$light: #f0f2f5;

$s: 5px;
$m: 10px;
$l: 15px;
$xl: 20px;

$border-radius: $m;
$shadow-sm: 0.1rem 0.125rem 0.25rem rgba(10, 10, 10, 0.075);
